.update-inventory{
    padding: 60px 0;
}

.gray {
    color: gray;
}

.s-color {
    color: navy;
}

.delivered-btn{
    border: 2px solid crimson;
    color: rgb(37, 37, 175);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 6px 40px;
    border-radius: 8px;
    transition: .6s;
}

.delivered-btn:hover{
    background-color: crimson;
    color:aliceblue;
    
}

.quantity-form{
    max-width: 400px;
    margin: 60px auto 0 auto;
}

.form-container{
    margin-top: 40px;
}

.restock-btn{
    margin-top: 20px;
    padding: 5px 20px; 
    font-size: 1.2rem;
    transition: .5s;
    border: 0;
    outline: none;
}

.restock-btn:hover{
    background-color: crimson;
    color:aliceblue;
}



.manage-inventories{
    transition: .8s ease;
    max-width: 500px;
    margin: 70px auto 0 auto;
    border: 2px solid #DB2D2E;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: #DB2D2E;
    color: #F1F1F1;
    border-radius: 7px;
}
.manage-inventories:hover {
    color: #DB2D2E;
    background-color: #F1F1F1;
}