.line-top{
    width: 120px;
    transition: 2s;
    height: 1px;
    margin: 0 auto 10px auto;
    background-color: #DB2D2E;
}
.line-bottom{
    transition: 2s;
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #DB2D2E;
    margin: 0 auto 70px auto;
}
.text-brown {
    color: brown;
    font-weight: 500;
}

.all-inventories-container:hover .line-top{
    width: 60px;
}
.all-inventories-container:hover .line-bottom{
    width: 140px;
}
.all-inventories-container{
    padding: 70px 0;
}




.single-item-container{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    transition: 0.8s;
    min-height: 500px;
    
}
.img-overlay-container{
    position: relative;

    overflow: hidden;
}
.inv-item-img{
    transition: 1s;
}
.single-item-container:hover {
    box-shadow: 0px 1px 5px 1px lightslategray;
    border-radius: 8px;

}
.single-item-container:hover .inv-item-img{
    transform: scale(1.1);
}

.img-over{
    position: absolute;
    bottom: 0%;
    background: #DB2D2E;
    color: #f1f1f1;
    width: 100%;
    transition: .9s ease;
    opacity: 0;
    margin: 0;
    /* color: white; */
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.single-item-container:hover .img-over {
    opacity: 1;
}

/* 

.stock-update{
    transition: .8s ease;
    width: 70%;
    margin: 30px auto;
    border: 2px solid #DB2D2E;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #DB2D2E;
    border-radius: 7px;
}
.stock-update:hover {
    background-color: #DB2D2E;
    color: #F1F1F1;
} */
.stockupdate-btn{
    padding: 6px 10px;
    transition: .8s ease;
    border: 1px solid #DB2D2E;
    font-weight: 700;
    color: #DB2D2E;
    border-radius: 5px;
}

.stockupdate-btn:hover{
    color: #f1f1f1;
    background-color: #DB2D2E;
}

.delete-btn{
    padding: 6px 10px;
    transition: .8s ease;
    border: 0;
    background-color: #DB2D2E;
    color: #f1f1f1;
    font-weight: 700;
    border-radius: 5px;
}
.delete-btn:hover{
    transform: scale(.90);
}
.btns-container{
    position: absolute;
    width: 90%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    bottom: 3%;
}

.add-inventory-btn-container{
    margin: 50px auto 0 auto;
    max-width: 600px;
    text-align: center;
}

.add-inventory-btn{
    text-decoration: none;
    font-weight: 700;
    color: #DB2D2E;
    border: 2px solid #DB2D2E;
    padding: 8px 30px;
    transition: .7s ease-in-out;
    border-radius: 5px;
}

.add-inventory-btn:hover{
    color: #f1f1f1;
    background-color: #DB2D2E;
}